@font-face {
  font-family: 'Staminer';
  src:  url('Staminer-Icons/staminer.eot?hx7nge');
  src:  url('Staminer-Icons/staminer.eot?hx7nge#iefix') format('embedded-opentype'),
    url('Staminer-Icons/staminer.ttf?hx7nge') format('truetype'),
    url('Staminer-Icons/staminer.woff?hx7nge') format('woff'),
    url('Staminer-Icons/staminer.svg?hx7nge#staminer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="st-"], [class*=" st-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Staminer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #818181;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.st-asociacion:before {
  content: "\e900";
}
.st-comentario:before {
  content: "\e901";
}
.st-ficha_medica:before {
  content: "\e902";
}
.st-formacion_academica:before {
  content: "\e903";
}
.st-more_informacion:before {
  content: "\e904";
}
.st-add_email:before {
  content: "\e905";
}
.st-add_imagen:before {
  content: "\e906";
}
.st-add_video:before {
  content: "\e907";
}
.st-adjuntar:before {
  content: "\e908";
}
.st-arrow_right:before {
  content: "\e909";
}
.st-arrow_left:before {
  content: "\e90a";
}
.st-buscar:before {
  content: "\e90b";
}
.st-cerrar:before {
  content: "\e90c";
}
.st-champion:before {
  content: "\e90d";
}
.st-close_modal:before {
  content: "\e90e";
}
.st-compartir:before {
  content: "\e90f";
}
.st-configuracion:before {
  content: "\e910";
}
.st-editar:before {
  content: "\e911";
}
.st-email:before {
  content: "\e912";
}
.st-oenviar:before {
  content: "\e913";
}
.st-imagen:before {
  content: "\e914";
}
.st-like:before {
  content: "\e915";
}
.st-listo:before {
  content: "\e916";
}
.st-menu:before {
  content: "\e917";
}
.st-mostrar:before {
  content: "\e918";
}
.st-notas:before {
  content: "\e919";
}
.st-notificaciones:before {
  content: "\e91a";
}
.st-pause:before {
  content: "\e91b";
}
.st-person:before {
  content: "\e91c";
}
.st-play:before {
  content: "\e91d";
}
.st-publico:before {
  content: "\e91e";
}
.st-red:before {
  content: "\e91f";
}
.st-sponsors:before {
  content: "\e920";
}
.st-ubicacion:before {
  content: "\e921";
}
.st-video:before {
  content: "\e922";
}
.st-email{
  font-size: 16px;
}
